@import '~antd/dist/antd.css';

.ant-layout-header {
  background: #0093ff;
  color: #fff;
}

.ant-layout-content {
  background: #fff;
  color: #fff;
  min-height: 120px;
  line-height: 120px;
  height: 100%;
}
  
.site-layout-content {
  padding: 24px;
  height: calc(100vh - 64px);
}

.header-container {
  display: flex;
  justify-content: space-between;  
}

.logo {
  width: 80px;
  height: 80px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maintenanceMessage {
  font-size: 45px;
}

.loginBG {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,144,255,1) 83%, rgba(0,212,255,1) 100%);
}

.error-message {
  color: #ff4d4f;
}

.medalsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.medalBox {
  cursor: pointer;
}